<!-- =================== Startup School #LearnToDo ==================== -->
<!-- ==== Created by Evan Morikawa - @E0M - evan@evanmorikawa.com ===== -->

<!-- ======================= Table of Contents ======================== -->
<!-- Hero               _hero       -->
<!-- In a Nutshell      _nutshell   -->
<!-- When & Where       _when_where -->
<!-- About the Program  _about      -->
<!-- Why Startup School _why        -->
<!-- Program Details    _details    -->
<!-- Who's Involved     _who        -->
<!-- Accolades          _trust      -->
<!-- Apply Now          _apply      -->
<!-- Contact            _contact    -->

<!-- =================== Responsive Design Sizing ===================== -->
<!--
Responsive breakpoints are determined by content - not pixel breakpoints that
roughly correspond to popular devices.

There are one, two, and three column layouts.

A column is always between 240px and 480px wide.

We switch the number of columns on a row when each breakpoint is hit.
-->

<!-- ==================== Apply Now and Scroll UP ===================== -->
<button id="call_to_action" class="btn btn-warning">Apply Now</button>

<div id="scroll_up">
  Scroll up<br/>
  for more info
  <div class="scroll_arrow">
    <div class="scroll_arrow_head"></div>
    <div class="scroll_arrow_body"></div>
  </div>
</div>

<!-- ======================= Floating Headers ========================= -->
<!-- 
<h1 class="section_header apply_header" data-section="apply" data-order="0">Apply Now</h1>
<h1 class="section_header" data-section="why" data-order="1">Why attend</h1>
<h1 class="section_header" data-section="details" data-order="2">Details</h1>
<h1 class="section_header" data-section="about" data-order="3">About the program</h1>
-->

<!-- ========================= Main Page ============================= -->
<div id="page">

  <%= render "contact" %>

  <%= render "apply" %>

  <%= render "trust" %>

  <%= render "who" %>

  <%= render "details" %>

  <%= render "why" %>

  <%= render "about" %>

  <%= render "when_where" %>

  <%= render "nutshell" %>

  <%= render "hero" %>

  <div id="arrow">
    <div id="arrow_head">
    </div>
    <div id="arrow_body">
    </div>
  </div>
</div>
