<!-- =================== Startup School #LearnToDo ==================== -->
<!-- ==== Created by Evan Morikawa - @E0M - evan@evanmorikawa.com ===== -->

<!-- ======================= Table of Contents ======================== -->
<!-- Hero               _hero       -->
<!-- In a Nutshell      _nutshell   -->
<!-- When & Where       _when_where -->
<!-- Why Startup School _why        -->
<!-- Program Details    _details    -->
<!-- Who's Involved     _who        -->
<!-- Accolades          _trust      -->
<!-- Apply Now          _apply      -->
<!-- Contact            _contact    -->
<!-- Blog               _blog       -->

<!-- =================== Responsive Design Sizing ===================== -->
<!--
Responsive breakpoints are determined by content - not pixel breakpoints that
roughly correspond to popular devices.

There are one, two, and three column layouts.

A column is always between 240px and 480px wide.

We switch the number of columns on a row when each breakpoint is hit.
-->

<!-- ==================== Apply Now and Scroll UP ===================== -->
<%# <button id="call_to_action" class="btn btn-warning">Apply Now</button> %>
<nav id="floating_nav">
  <ul>
    <li id="nav_contact" class="nav_item" data-section_id="contact" >
      <div class="nav_bg"></div>
      <div class="nav_text">Contact</div>
    </li>
    <li id="nav_apply" class="nav_apply" data-section_id="apply" >
      <div class="nav_bg"></div>
      <div class="nav_text"><span class="color_emphasis">&uarr;</span> APPLY NOW</div>
    </li>
    <%# <li id="nav_trust" class="nav_item" data-section_id="trust" >
    <%#   <div class="nav_bg"></div>
    <%#   <div class="nav_text">Press</div>
    <%# </li> %>
    <li id="nav_who" class="nav_item" data-section_id="who" >
      <div class="nav_bg"></div>
      <div class="nav_text">Who&rsquo;s Involved</div>
    </li>
    <li id="nav_details" class="nav_item" data-section_id="details" >
      <div class="nav_bg"></div>
      <div class="nav_text">About the Program</div>
    </li>
    <li id="nav_why" class="nav_item" data-section_id="why" >
      <div class="nav_bg"></div>
      <div class="nav_text">Why Startup School</div>
    </li>
    <li id="nav_when_where" class="nav_item" data-section_id="when_where" >
      <div class="nav_bg"></div>
      <div class="nav_text">When &amp; Where</div>
    </li>
    <li id="nav_nutshell" class="nav_item" data-section_id="nutshell">
      <div class="nav_bg"></div>
      <div class="nav_text">In a Nutshell</div>
    </li>
    
<a href="http://bostonstartupschool.tumblr.com">
    <li>
      <div class="nav_bg"></div>
      <div class="nav_text">Blog</div>
    </li>
</a>

  </ul>
</nav>

<div id="scroll_up">
  <div class="scroll_arrow">
    <div class="scroll_arrow_head"></div>
    <div class="scroll_arrow_body"></div>
  </div>
  <div class="scroll_prompt">
    Scroll <span class="bold">UP</span>
  </div>
</div>

<nav id="top_nav">
  <div id="apply_now_top_nav"><a>Apply Now</a></div>
  <div id="nav_selector_container">
    <select id="nav_selector">
      <option value=""></option>
      <option value="contact">Contact</option>
      <option value="apply">Apply Now</option>
      <option value="who">Who's Involved</option>
      <option value="details">About the Program</option>
      <option value="why">Why Startup School</option>
      <option value="when_where">When &amp; Where</option>
      <option value="nutshell">In a Nutshell</option>
      <option>Blog</option>
    </select>
  </div>
</nav>

<!-- ======================= Floating Headers ========================= -->
<!-- 
<h1 class="section_header apply_header" data-section="apply" data-order="0">Apply Now</h1>
<h1 class="section_header" data-section="why" data-order="1">Why attend</h1>
<h1 class="section_header" data-section="details" data-order="2">Details</h1>
<h1 class="section_header" data-section="about" data-order="3">About the program</h1>
-->

<!-- ========================= Main Page ============================= -->
<div id="page">

  <%= render "contact" %>

  <%= render "apply" %>

  <%# render "trust" %>

  <%= render "who" %>

  <%= render "details" %>

  <%= render "why" %>

  <%= render "when_where" %>

  <%= render "nutshell" %>


</div>

<div id="arrow">
  <div id="arrow_head">
  </div>
  <div id="arrow_body">
  </div>
</div>
<div id="arrow_track"></div>

<%= render "hero" %>
